absl-py==1.0.0; python_version >= "3.7" and python_full_version >= "3.6.2"
aiohttp==3.8.1; python_version >= "3.7"
aiohttp-retry==2.4.6; python_version >= "3.7"
aiosignal==1.2.0; python_version >= "3.7"
appdirs==1.4.4; python_version >= "3.7"
async-timeout==4.0.2; python_version >= "3.7"
asyncssh==2.10.1; python_version >= "3.7"
atpublic==3.0.1; python_version >= "3.7"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.5.0"
cachetools==5.0.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.2"
certifi==2021.10.8; python_full_version >= "3.6.2" and python_version >= "3.7"
cffi==1.15.0; python_version >= "3.7"
charset-normalizer==2.0.12; python_full_version >= "3.6.2" and python_version >= "3.7"
click==8.1.2; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.5.0" and python_version >= "3.7" and platform_system == "Windows"
commonmark==0.9.1; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.7"
configobj==5.0.6; python_version >= "3.7"
cryptography==37.0.0; python_version >= "3.7"
cycler==0.11.0; python_version >= "3.7"
dictdiffer==0.9.0; python_version >= "3.7"
diskcache==5.4.0; python_version >= "3.7"
distro==1.7.0; python_version >= "3.7"
docker-pycreds==0.4.0; python_version >= "3.6"
dpath==2.0.6; python_version >= "3.7"
dulwich==0.20.35; python_version >= "3.7"
dvc==2.10.1; python_version >= "3.7"
dvc-render==0.0.4; python_version >= "3.7"
flatten-dict==0.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
flufl.lock==7.0; python_version >= "3.7"
fonttools==4.33.3; python_version >= "3.7"
frozenlist==1.3.0; python_version >= "3.7"
fsspec==2022.3.0
ftfy==6.1.1; python_version >= "3.7" and python_version < "4"
funcy==1.17
future==0.18.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
gitdb==4.0.9; python_version >= "3.7"
gitpython==3.1.27; python_version >= "3.7"
google-api-core==2.7.2; python_version >= "3.7"
google-api-python-client==2.46.0; python_version >= "3.7"
google-auth==2.6.6; python_full_version >= "3.6.2" and python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.6.0")
google-auth-httplib2==0.1.0; python_version >= "3.7"
google-auth-oauthlib==0.4.6; python_version >= "3.7" and python_full_version >= "3.6.2"
googleapis-common-protos==1.56.0; python_version >= "3.7"
grandalf==0.6; python_version >= "3.7"
grpcio==1.45.0; python_version >= "3.7" and python_full_version >= "3.6.2"
httplib2==0.20.4; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.4.0"
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.7"
importlib-metadata==4.11.3; python_version < "3.10" and python_version >= "3.7" and python_full_version >= "3.6.2"
joblib==1.1.0; python_version >= "3.7"
kiwisolver==1.4.2; python_version >= "3.7"
mailchecker==4.1.16; python_version >= "3.7"
markdown==3.3.6; python_version >= "3.7" and python_full_version >= "3.6.2"
matplotlib==3.5.1; python_version >= "3.7"
multidict==6.0.2; python_version >= "3.7"
nanotime==0.5.2; python_version >= "3.7"
networkx==2.8; python_version >= "3.8"
numpy==1.22.3
oauth2client==4.1.3; python_version >= "3.7"
oauthlib==3.2.0; python_version >= "3.7" and python_full_version >= "3.6.2"
packaging==21.3; python_version >= "3.7"
pandas==1.4.2; python_version >= "3.8" and python_full_version >= "3.6.2"
pathspec==0.9.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pathtools==0.1.2; python_version >= "3.6"
phonenumbers==8.12.47; python_version >= "3.7"
pillow==9.1.0; python_version >= "3.7"
promise==2.3; python_version >= "3.6"
protobuf==3.20.1; python_version >= "3.7" and python_full_version >= "3.6.2"
psutil==5.9.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pyasn1==0.4.8; python_version >= "3.7" and python_full_version >= "3.6.2" and python_version < "4"
pyasn1-modules==0.2.8; python_full_version >= "3.6.2" and python_version >= "3.7"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.4.0"
pydeprecate==0.3.2; python_version >= "3.7"
pydot==1.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pydrive2==1.10.1; python_version >= "3.7"
pygit2==1.9.1; python_version >= "3.7"
pygments==2.12.0; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.7"
pygtrie==2.4.2; python_version >= "3.7"
pyopenssl==22.0.0; python_version >= "3.7"
pyparsing==3.0.8; python_full_version >= "3.6.8" and python_version >= "3.7"
python-benedict==0.25.0; python_version >= "3.7"
python-dateutil==2.8.2; python_full_version >= "3.6.2" and python_version >= "3.8"
python-fsutil==0.6.0; python_version >= "3.7"
python-slugify==6.1.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pytorch-lightning==1.6.1; python_version >= "3.7"
pytz==2022.1; python_version >= "3.8" and python_full_version >= "3.6.2"
pyyaml==6.0; python_version >= "3.7"
requests==2.27.1; python_full_version >= "3.6.2" and python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
requests-oauthlib==1.3.1; python_version >= "3.7" and python_full_version >= "3.6.2"
rich==12.3.0; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.7"
rsa==4.8; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.2"
ruamel.yaml==0.17.21; python_version >= "3.7"
ruamel.yaml.clib==0.2.6; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.7"
scikit-learn==1.0.2; python_version >= "3.7"
scipy==1.6.1; python_version >= "3.7"
scmrepo==0.0.16; python_version >= "3.7"
seaborn==0.11.2; python_version >= "3.6"
sentry-sdk==1.5.10; python_version >= "3.6"
setproctitle==1.2.3; python_version >= "3.6"
setuptools-scm==6.4.2; python_version >= "3.7"
shortuuid==1.0.8; python_version >= "3.7"
shtab==1.5.4; python_version >= "3.7"
six==1.16.0; python_full_version >= "3.6.2" and python_version >= "3.8" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.3.0")
smmap==5.0.0; python_version >= "3.7"
tabulate==0.8.9; python_version >= "3.7"
tensorboard==2.8.0; python_version >= "3.6"
tensorboard-data-server==0.6.1; python_version >= "3.7" and python_full_version >= "3.6.2"
tensorboard-plugin-wit==1.8.1; python_version >= "3.7" and python_full_version >= "3.6.2"
text-unidecode==1.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
threadpoolctl==3.1.0; python_version >= "3.7"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_version >= "3.7"
torch==1.11.0; python_full_version >= "3.7.0"
torch-tb-profiler==0.4.0; python_full_version >= "3.6.2"
torchmetrics==0.7.3; python_version >= "3.6"
torchvision==0.12.0; python_version >= "3.7"
tqdm==4.64.0
typing-extensions==4.2.0; python_version >= "3.7" and python_full_version >= "3.7.0"
uritemplate==4.1.1; python_version >= "3.7"
urllib3==1.26.9; python_full_version >= "3.6.2" and python_version < "4" and python_version >= "3.7" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.7")
voluptuous==0.13.1; python_version >= "3.7"
wandb==0.12.15; python_version >= "3.6"
wcwidth==0.2.5; python_version >= "3.7" and python_version < "4"
werkzeug==2.1.1; python_version >= "3.7" and python_full_version >= "3.6.2"
xmltodict==0.12.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
yarl==1.7.2; python_version >= "3.7"
zc.lockfile==2.0; python_version >= "3.7"
zipp==3.8.0; python_version < "3.10" and python_version >= "3.7" and python_full_version >= "3.6.2"
